a:link {
	color:#0066cc;
}

a:hover, a:active {
	color:#003366;
}

a:visited {
	color:#6699cc;
}


h1 {
	color:#3c6eb4
}

.producttitle {
	background: #3c6eb4 url(../images/h1-bg.png) top left repeat;
}

.section h1.title {
	color:#7f3200;
}


h2,h3,h4,h5,h6 {
	color:#7f3200;
}

table {
	border:1px solid #3c6eb4;
}

table th {
	background-color:#3c6eb4;
}


table tr.even td {
	background-color:#f5f5f5;
}

.term{
	color:#3c6eb4
}

.revhistory table th {
	color:#3c6eb4;
}

.edition {
    color: #3c6eb4;
}

div.para {
    margin-left: 10em;
}

li.para {
    margin-left: 0em;
}

